/* กำหนดให้ทั้งเว็บใช้ฟอนต์ Prompt */
body
{
   font-family: 'Prompt', 'Kanit', sans-serif;
   background-color: #f4f7fa;
}
/* ปุ่ม */
.btn-primary {
    background: linear-gradient(135deg, #007bff, #0056b3); /* สีน้ำเงินไล่เฉด */
    border: none;
    color: #fff;
    padding: 12px 25px;
    font-size: 1.1rem;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background: linear-gradient(135deg, #0056b3, #003f7f);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.btn-primary:active {
    transform: scale(0.97);
    box-shadow: none;
}
/* card header */
.card-header {
    background: linear-gradient(135deg,#218838,#28a745); /* สีเขียวไล่เฉด */
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}
.custom-result-text {
    font-size: 1.1rem;
    color: red;
}
/* ปรับแต่งฟอร์ม */
form .form-label {
    font-weight: 500;
}
/* หน้า index-Slide Bar */
.sidebar {
  width: 230px;
  background: linear-gradient(135deg, #218838,#28a745);
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 30px 15px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar h4 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 30px;
}
.sidebar .nav-link {
  color: #f1f1f1;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
}
.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}
.main-content {
  margin-left: 250px;
  padding: 30px;
}
.card-box {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  margin-bottom: 20px;
  transition: 0.3s;
}
.card-box:hover {
  transform: translateY(-5px);
}
.card-value {
  font-size: 28px;
  font-weight: bold;
}
.card-label {
  font-size: 14px;
  color: #777;
}
.icon-box {
  font-size: 32px;
  color: #888;
}
.card-footer {
  border-top: 1px solid #eee;
  padding-top: 10px;
  font-size: 13px;
  color: #fff;
  border-radius: 0 0 15px 15px;
  text-align: center;
  margin-top: 10px;
}
.footer-orange { background: linear-gradient(to right, #ff9a76, #ff7a59); }
.footer-green { background: linear-gradient(to right, #1bd2a4, #07c09d); }
.footer-red { background: linear-gradient(to right, #ff5f7e, #ff3c6f); }
.footer-blue { background: linear-gradient(to right, #00c6ff, #0072ff); }
